from ..conftest import WorkingServiceBase, FailingServiceBase


class TestService(WorkingServiceBase):
    """
    add your own service tests here
    """


class TestServiceErrors(FailingServiceBase):
    pass

# vim: set ft=python sw=4 et spell spelllang=en:
