server_module = '{{ module }}.{{ name }}'

backend_options = [{}]
backend_ids = ['default']
full_server_options = [({}, {})]
full_server_ids = ['default']

# vim: set ft=python sw=4 et spell spelllang=en:
